@font-face {
    font-family: "ApfelGrotezk";
    font-weight: 400;
    src: url("/resources/fonts/CLT-Apfel-Grotezk/web/ApfelGrotezk-Regular.woff2");
}

@font-face {
    font-family: "ApfelGrotezk";
    font-weight: 700;
    src: url("/resources/fonts/CLT-Apfel-Grotezk/web/ApfelGrotezk-Mittel.woff2");
}

@font-face {
    font-family: "ApfelGrotezk";
    font-weight: 800;
    src: url("/resources/fonts/CLT-Apfel-Grotezk/web/ApfelGrotezk-Satt.woff2");
}

@font-face {
    font-family: "NyghtSerif";
    font-weight: 400;
    src: url("/resources/fonts/nyght-serif-main/fonts/WEB/NyghtSerif-Regular.woff2");
}

@font-face {
    font-family: "NyghtSerif";
    font-weight: 700;
    src: url("/resources/fonts/nyght-serif-main/fonts/WEB/NyghtSerif-Bold.woff2");
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #D0D3D9;

    --primary-font: NyghtSerif;
    --secondary-font: ApfelGrotezk;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    /* flex-flow: column;
    flex-wrap:; */
    height: 100%
}

#Page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.tickerbox {
    display: flex;
    flex-flow: row ;
    
    gap: 0.75rem;
    font-size: 40pt;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
}

.occasion-name {
    font-weight: 700;
}

.percentage {
    top: -0.125em;
    position: relative;
    background-size: 100px 100px;

    background-color: var(--primary-color);
    padding: 0 0.25ch;
    /* margin:  0 0.25ch; */
    color: var(--secondary-color);
    font-size: 1em;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.over {
    /* font-weight: 700; */
    /* background-color: antiquewhite; */
}